.container {
    background: #f4f8f5;
}

.title {
    font-size: larger;
    justify-content: center;
    align-items: center;
    background: #f4f8f5;
    display: flex;
    color: #111827;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    font-weight: 700
}

.feed-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    column-gap: 16px;
    row-gap: 16px;

    max-width: 1000px;
    margin: 0 auto;

    align-content: start;
    grid-auto-rows: auto;
}